* {
	 padding: 0;
	 margin: 0;
	 box-sizing:border-box;
 }

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

table{

	text-transform: uppercase;

}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup{
	  padding: 0 20px;
	  margin-bottom: 20px;
	  height: 40px;
	  line-height: 40px;
	  border: none;
	  color: #fff;
	  background: #5E7DE3;
	  border-radius: 3px;
	  font-family: 'Montserrat', sans-serif;
	  font-size: 16px;
	  cursor: pointer;
	  transition: .3s ease all;
	  cursor: pointer;
  }

.contenedor article .btn-abrir-popup2{
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.contenedor article .btn-abrir-popup:hover{
	background: rgba(94,125,227, .9);
}

.contenedor article .btn-abrir-popup2:hover{
	background: rgba(94,125,227, .9);
}


/* ------------------------- */
/* POPUP */
/* ------------------------- */
.overlay2{
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay {
	 background: rgba(0,0,0,.3);
	 position: fixed;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 align-items: center;
	 justify-content: center;
	 display: flex;
	 visibility: hidden;
 }


.overlay.active {
	 visibility: visible;
 }

.overlay2.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup2{
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	 font-size: 16px;
	 line-height: 16px;
	 display: block;
	 text-align: right;
	 transition: .3s ease all;
	 color: #BBBBBB;
 }

 .popup2 .btn-cerrar-popup2{
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover{
	 color: #000;
 }

.popup2 .btn-cerrar-popup2:hover{
	color: #000;
}

.popup h3{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup2 h3  {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	  font-size: 26px;
	  font-weight: 300;
	  margin-bottom: 40px;
	  opacity: 0;
  }

.popup2 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup2 form .contenedor-inputs2 {
	opacity: 0;
}

.popup form .contenedor-inputs input{
	 width: 100%;
	 margin-bottom: 20px;
	 height: 52px;
	 font-size: 18px;
	 line-height: 52px;
	 text-align: center;
	 border: 1px solid #BBBBBB;
 }

.popup2 form .contenedor-inputs2 input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup2 form .btn-submit2 {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	 background: rgba(94,125,227, .9);
 }

.popup2 form .btn-submit2:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

.popup2.active {	transform: scale(1); opacity: 1; }
 .popup2.active h3  { animation: entradaTitul .8s ease .5s forwards; }
 .popup2.active h4  { animation: entradaSubtitul .8s ease .5s forwards; }
 .popup2.active .contenedor-inputs2{ animation: entradaInput 1s linear 1s forwards; }


@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes entradaTitul {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitul {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInput {
	from { opacity: 0; }
	to { opacity: 1; }
}